<div class="container bigbox">
	<div class="sixteen columns">

		<h1>Add a new truck!</h1>
	</hr>


<%= form_for @truck do |f| %>
<%= f.text_field :name %>
<%= f.text_field :type_of_food %>
<%= f.submit("add") %>
<% end %>

</div>
	
</div>