<div class="container bigbox">
	<div class="sixteen columns">
		
	</div>

		<h2><%= @truck.name %></h2>
	
		<div class="sixteen columns">
			<h3><%= truck.name %></h3><br>
			<h4><%= truck.type_of_food %></h4>
		</div>
			
	
		<div class="row"></div>
		
	<% end %>
	
</div>
