<div class="container bigbox">
	<div class="sixteen columns">
			<h2><%= @truck.name %></h2><br>
			<h4><%= @truck.type_of_food %></h4>
			<h5><%= link_to 'Edit', edit_truck_path(@truck.id) %></h5>
			
		<div class="row"></div>
	</div>
</div>